.start {color: #0abe52;font-family: 'Courier New', Courier, monospace;font-size: large;font:bold}
p{color: rgb(16, 185, 16);font-family: 'Courier New', Courier, monospace;font-family: 'Courier New', Courier, monospace;}
.cr {border: 4px solid #919191;width: fit-content;}
.dr{display: block;padding: 19px;border: 4px solid #818181;}
.b{  font: bold;font-family: 'Courier New', Courier, monospace;}
.pa{font: bold;font-family: 'Courier New', Courier, monospace;}
